.header-container {
    background-color: #fff9f1;
    text-align: center;
}

.header-left {
    text-align: left;
    margin: auto;
}

.home_blogs {
    display: flex;
    align-items: center;
    justify-content: left;
}

.home_blogs img {
    width: 20px;
    margin-right: 8px;
}

.home_blogs p {
    color: #9E9E9E;
    font-weight: 600;
    margin-bottom: 0;
    /* Remove default margin */
    font-size: 1.2rem;
}


.header-left h4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #23242A;
    margin-bottom: 5px;
}

.header-left h5 {
    font-size: 20px;
    color: #777;
    font-weight: normal;
}

.container-title {
    font-size: 2rem;
    font-weight: bold;
    color: #23242A;
    margin-bottom: 5px;
}

.container-content {
    font-size: 1.2rem;
    color: #23242A;
    text-align: justify;
}

.sub-container {
    background-color: white;
}

.sub-container-left, .sub-container-right {
    margin-top: auto;
    margin-bottom: auto;
}

.container-img {
    width: 100%
}

.founders-container {
    width: 75%;
}

.founders-image {
    margin: auto;
    text-align: center;
}

.founders-image img{
    max-width: 30vw;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.founder-sub-container {
    margin-top: 20px;
}

.btn-warning {
    margin-top: 10px;
    border-radius: 8x;
}

.container-title {
    margin-bottom: 30px;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
}

.card-text small {
    display: block;
    margin-bottom: 0.5rem;
}

.author-section {
    padding-left: 10px;
    border-left: 5px solid #6f42c1;
}

.author-heading {
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 15px;
}

.author-info {
    padding-bottom: 5px;
    border-bottom: 1px solid #D3D3D3;
}

.author-details p {
    margin: 0;
}

.author-image img {
    border-radius: 50%;
}

.blog-panel {
    border-right: 1px solid #D3D3D3;
    padding: 40px;
}

.btn-read-more {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    padding-right: 20px;
    color: #363636;
    float: right;
}

.btn-read-more span {
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
}

.btn-read-more:hover {
    color: #0056b3; /* Darker blue on hover */
    text-decoration: none;
}